<!doctype html>
<html>

<head>
    <title>3D chart</title>
    <style type="text/css">
        .body{
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            font: 12px Arial;
        }
        .header{
            text-align: center;
            background-color: rgb(220, 220, 220);
            height: 70px;
            line-height: 70px;
        }
        .chart{
            margin-top: 30px;
            text-align: center;
        }
    </style>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

</head>

<body>

    <div class="header">
        <h2>
           3d chart
        </h2>
    </div>

    <center>
        
      <div id="3Dchart" class="plotly-graph-div" style="height:1000px; width:1000px;"></div>
        <script type="text/javascript">

               
            window.PLOTLYENV=window.PLOTLYENV || {};



            if (document.getElementById("3Dchart")) {
                Plotly.newPlot(
                    '3Dchart',
                    {{graphJSON | safe}},
                    {"responsive": true})};

        </script>
      </div>
      <a href="../">
            <input type="submit" value="home" />
        <a>
        
    </center>
    
</body>

</html>
